body {background: #ccc url(../images/bg.png); border-top: 3px solid #000}
.row {width: 960px}
.page_wrap {margin: 25px auto 25px; border-radius: 3px; background: #FFF; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)}
.header_nav {background: #ddd6d6; margin-top: 25px; margin-bottom: 25px}
h1,h2,h3,h4 {font-family:'Verdana',sans-serif; font-weight: normal}
.heading_dots {background: url(../images/heading_dots_grey.png) repeat-x center}
.heading_dots_grey {background: url(../images/heading_dots_grey.png) repeat-x center}
.heading_center_bg {background:#FFF; padding:0 10px; font-family: cursive }
.heading_supersize {font-size: 74px; text-align:center; font-weight: normal; line-height: normal; margin:0 0 40px}
.home-left-content {margin: 0px 10px 30px 70px; float: left;}
.home-right-content {margin: 0px 60px 30px 10px; float:right;}
.home-box {width:300px; height:300px; border-width:1px;background:#691C1C; display: inline-block;
  position: relative;}
.home-text {width:75%; padding-top:60px}
.home-img {max-height: 100%; max-width: 100%;width: auto;height: auto;position: absolute;top: 0;bottom: 0;right: 0;
  left:0;margin: auto;}
.home-content {width:100%; height:100px}
.nav-bar {margin-top: 0; background: none}
.nav-bar > li:first-child > a:first-child {font-size: 30px; text-transform: uppercase; padding:0px 150px 0px 15px; font-weight: bold}
.nav-bar > li {border: 0; padding-top: 10px; padding-left:20px; font-family: cursive ; letter-spacing: 1px}
.nav-bar > li > img:first-child {padding-right: 10px; padding-top: 10px}
/* .nav-bar > li > a:first-child {font-size: 16px; padding: 5px 30px} */
.nav-bar > li:last-child {border: 0}
.nav-bar > li.active:hover { background: #F8F8F8; cursor: default; }{}
.nav-bar > li:hover { background: #F8F8F8; color: #000;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
}
.nav-bar > li > a { color: #000; font-size:16px;}
.nav-bar > li > a:hover { color: #000;}
.nav-bar > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #848484 transparent transparent transparent; position: absolute; right: 20px; top: 20px; }
.nav-bar > li.has-flyout > a:hover:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #848484 transparent transparent transparent; position: absolute; right: 20px; top: 20px; }
.flyout {background: #FFF; border-radius: 5px; border: 0; margin-top: 8px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);}
ul.flyout li, .nav-bar li ul li { border-left: 0}
ul.flyout li a, .nav-bar li ul li a { background: #fff; border: 0; font-size: 16px;}
ul.flyout li a:hover, .nav-bar li ul li a:hover { background: #f4f4f4; color: #000; border: 0;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
		}
.footer-bar > li:first-child {padding:10px 10px 10px 350px}
.footer-bar > li {border: 0; padding: 10px 10px; font-family: cursive ; letter-spacing: 1px}
.footer-bar > li:first-child > a:first-child {font-size: 30px; text-transform: uppercase; padding:0px 0px; font-weight: bold}
.footer-bar > li> a:first-child {font-size: 30px; text-transform: uppercase; padding:0px 0px; font-weight: bold}
